#editor {
    background-color: lightgray;
    height: 92.5vh;
    width: 100%;
    display: inline-flex;
}

#toolbar {
    width: 15%;
    border-bottom: solid black 1px;
}

#graph_container {
    height: 100%;
    width: 70%;
    overflow: hidden;
}

#graph {
    height: 100%;
    background-color: white;
    border: solid black 1px;
}

#hierarchy {
    width: 15%;
    border-bottom: solid black 1px;
}

.list-group-item {
    padding-right: 0;
    padding-bottom: 0;
}

.diagram_active {
    background-color: #007BFF;
    color: #343A40;
}

#item_configurations {
    display: none;
}

.toolbar_item_container {
    display: inline-block;
    background-color: white;
    text-align: center;
    border: 1px solid #343A40;
    border-radius: 5px;
    margin: 0.5em;    
}