#editor {
    background-color: lightgray;
    height: 90vh;
    width: 100%;
    display: inline-flex;
}

#toolbar {
    width: 15%;
    border-bottom: solid black 1px;
}

#graph {
    width: 70%;
    background-color: white;
    border: solid black 1px;
}

#hierarchy {
    width: 15%;
    border-bottom: solid black 1px;
}

.list-group-item {
    padding-right: 0;
    padding-bottom: 0;
}

.diagram_active {
    background-color: #007BFF;
    color: #343A40;
}

#item_configurations {
    display: none;
}