<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<!-- Custom CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles/main.css') }}"
		/>

		{% if title %}
		<title>DFD Edit - {{ title }}</title>
		{% else %}
		<title>DfD Edit</title>
		{% endif %}
	</head>
	<body>
		<div class="container-full">
			<header>
				<div
					class="navbar navbar-dark bg-dark text-light d-flex justify-content-around"
				>
					<!-- Title -->
					<h5 class="my-0 mr-md-auto font-weight-normal">DFD Edit</h5>

					<!-- Nav links -->
					<nav class="my-2 my-md-0 mr-md-3">
						<a class="p-2 text-light" href="{{ url_for('home') }}"
							>Home</a
						>
						<a class="p-2 text-light" href="{{ url_for('editor') }}"
							>Editor</a
						>
						<a class="p-2 text-light" href="#">About</a>
					</nav>
					<a class="btn btn-primary m-1" href="#">Login</a>
					<a class="btn btn-primary m-1" href="#">Register</a>
				</div>
			</header>
			{% block content %} {% endblock content %}
		</div>
	</body>
</html>
