<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<!-- Custom CSS -->
		<link
			rel="stylesheet"
			type="text/css"
			href="{{ url_for('static', filename='styles/main.css') }}"
		/>

		{% if title %}
		<title>DFD Edit - {{ title }}</title>
		{% else %}
		<title>DfD Edit</title>
		{% endif %}
	</head>
	<body>
		<div class="container-full">
			<header>
				<div
					class="navbar navbar-dark bg-dark text-light d-flex justify-content-around"
				>
					<!-- Title -->
					<h5 class="my-0 mr-md-auto font-weight-normal">DFD Edit</h5>

					<!-- Nav links -->
					<nav class="my-2 my-md-0 mr-md-3">
						<a class="p-2 text-light" href="{{ url_for('home') }}"
							>Home</a
						>
						<a class="p-2 text-light" href="{{ url_for('editor') }}"
							>Editor</a
						>
						<a class="p-2 text-light" href="#">About</a>
					</nav>
					{% if current_user.is_authenticated %}
					<a
						class="btn btn-primary m-1"
						href="{{ url_for('account') }}"
						>Account</a
					>
					<a class="btn btn-danger m-1" href="{{ url_for('logout') }}"
						>Log out</a
					>
					{% else %}
					<a class="btn btn-primary m-1" href="{{ url_for('login') }}"
						>Log in</a
					>
					<a
						class="btn btn-primary m-1"
						href="{{ url_for('register') }}"
						>Register</a
					>
					{% endif %}
				</div>
			</header>

			<!-- Display messages -->
			{% with messages = get_flashed_messages(with_categories=true) %} {%
			if messages %} {% for category, message in messages %}
			<div
				class="alert alert-{{ category }} alert-dismissible fade show"
				role="alert"
			>
				{{ message }}
				<button
					type="button"
					class="close"
					data-dismiss="alert"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			{% endfor %} {% endif %} {% endwith %}

			<!-- Page content -->
			{% block content %} {% endblock content %}
		</div>

		<!-- Bootstrap JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</body>
</html>
