{% macro editor_manager(diagram, index, user_created_diagram) %}

<!-- Modal -->
<div class="modal fade" id="editor_manager_{{ index }}" role="dialog">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<!-- Title -->
			<div class="modal-header">
				<h5 class="modal-title">
					{{ diagram.title }}
				</h5>
				<button
					type="button"
					class="close"
					data-dismiss="modal"
					aria-label="Close"
				>
					<span aria-hidden="true">&times;</span>
				</button>
			</div>

			<!-- Body -->
			<div class="modal-body">
				<!-- Author -->
				<div class="card">
					<div class="card-header">
						Creator
					</div>
					<div class="card-body">
						<h3>{{ get_user(diagram.author).username }}</h3>
						<p>
							<span class="badge badge-secondary">Email</span>
							{{ get_user(diagram.author).email }}
						</p>
					</div>
				</div>
				<hr />

				<!-- Editors -->
				<div class="card">
					<div class="card-header">
						Invited Editors
					</div>

					<!-- Editors list -->
					<ul class="list-group list-group-flush">
						{% if get_diagram_editors(diagram)[0] is defined %} {%
						for editor in get_diagram_editors(diagram) %}
						<li class="list-group-item pb-1">
							<!-- Editor username -->
							<h6>{{ editor.username }}</h6>

							<div class="row">
								<!-- Editor email -->
								<div class="col-9">
									<p>
										<span class="badge badge-secondary"
											>Email</span
										>
										{{ editor.email }}
									</p>
								</div>

								<!-- Remove editor button -->
								{% if user_created_diagram %}
								<div class="col-3">
									<form
										onsubmit="return confirm_remove_editor(
											'{{ editor.username }}',
											'{{ diagram.title }}'
										)"
										action="{{ url_for('delete_invited_editor', user_id=editor.id, diagram_id=diagram.id) }}"
										method="POST"
									>
										<input
											class="btn  btn-sm btn-danger"
											type="submit"
											value="Remove"
										/>
									</form>
								</div>
								{% endif %}
							</div>
						</li>
						{% endfor %} {% else %}
						<!-- No editors -->
						<div class="row justify-content-center p-4">
							<h4>
								<span class="badge badge-secondary"
									>No editors invited</span
								>
							</h4>
						</div>
						{% endif %}
					</ul>
				</div>

				<!-- Invite Editor Form -->
				{% if user_created_diagram %}
				<form
					class="card mt-2"
					method="POST"
					action="{{ url_for('invite_editor', diagram_id=diagram.id) }}"
				>
					{{ invite_editor_form.hidden_tag() }}
					<fieldset class="form-group">
						<legend class="pt-2 pl-2">
							<h5>Invite Editor</h5>
						</legend>
					</fieldset>

					<!-- Email input -->
					<div class="form-group p-2">
						<!-- Input -->
						<div class="input-group">
							{{ invite_editor_form.email(type='text', class="form-control", placeholder="Enter editor's email ...") }}
							<span class="input-group-btn">
								{{ invite_editor_form.submit(class="btn btn-outline-primary") }}
							</span>
						</div>
					</div>
				</form>
				{% endif %}
				<hr />

				<!-- Edit Log -->
				<div class="card bg-info">
					<div class="card-header text-white">
						Edit Log
					</div>

					<!-- Edits List -->
					<ul class="list-group list-group-flush">
						{% if get_diagram_edits(diagram)[0] is defined %} {% for
						edit in get_diagram_edits(diagram) %}
						<li class="list-group-item pb-1">
							<!-- User & Message -->
							<div>
								<b>{{ get_user(edit.editor).username }}:</b>
								{{ edit.message }}
							</div>
							<!-- Date -->
							<div class="float-right pr-2">
								<span class="badge badge-secondary">{{
									edit.edited_on.strftime("%Y/%m/%d, %H: %M")
								}}</span>
							</div>
						</li>
						{% endfor %} {% else %}
						<!-- No Edits -->
						<div class="row justify-content-center p-4">
							<h4>
								<span class="badge badge-info">No edits</span>
							</h4>
						</div>
						{% endif %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

{% endmacro %}
