{% from "_diagram_list.html" import diagram_list with context %} {% extends
"_base.html" %} {% block content %}

<!-- Account JS -->
<script src="{{ url_for('static', filename='js/account.js') }}" defer></script>

<!-- Use details -->
<div class="row justify-content-center">
	<div class="col-6">
		<div class="card pl-4 m-4">
			<div>
				<h2>{{ current_user.username }}</h2>

				<p>
					<span class="badge badge-secondary">Email</span>
					{{ current_user.email }}
				</p>
			</div>
		</div>
	</div>
</div>

<!-- Diagrams list -->
<div class="row justify-content-around">
	<!-- Authored diagrams -->
	<div class="col-5">
		{{ diagram_list("Your Diagrams", current_user, created_diagrams) }}
	</div>

	<!-- Invited diagrams -->
	<div class="col-5">
		{{ diagram_list("Invited Diagrams", current_user, invited_diagrams) }}
	</div>
</div>

{% endblock content %}
