{% extends "_base.html" %} {% block content %}
<style>
	#toolbar {
		position: absolute;
		overflow: hidden;
		padding: 2px;
		left: 0px;
		top: 0px;
		width: 24px;
		bottom: 0px;
		border: solid 1px black;
	}
	#graph {
		position: absolute;
		overflow: hidden;
		left: 24px;
		top: 0px;
		right: 0px;
		bottom: 0px;
		border: solid 1px black;
	}
</style>

<div id="editor">
	<div id="toolbar"></div>
	<div id="graph"></div>
</div>

<!-- Load MxGraph -->
<script>
	mxBasePath =
		"{{ url_for('static', filename='mxgraph-master/javascript/src') }}";
</script>
<script src="{{ url_for('static', filename='mxgraph-master/javascript/src/js/mxClient.js') }}"></script>
<!-- Create Editor -->
<script src="{{ url_for('static', filename='js/editor/editor.js') }}"></script>
<script>
	main("{{ url_for('static', filename='js/editor') }}");
</script>
{% endblock content %}
