{% extends "_base.html" %} {% block content %}
<div id="editor">
	<div id="toolbar"></div>
	<div id="graph"></div>
	<div id="hierarchy"></div>
</div>

<!-- Load MxGraph -->
<script>
	mxBasePath =
		"{{ url_for('static', filename='mxgraph-master/javascript/src') }}";
</script>
<script src="{{ url_for('static', filename='mxgraph-master/javascript/src/js/mxClient.js') }}"></script>
<!-- Create Editor -->
<script src="{{ url_for('static', filename='js/editor/editor.js') }}"></script>
<script>
	main("{{ url_for('static', filename='js/editor') }}");
</script>

{% endblock content %}
